WcfService2/Clnt/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2401/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
  <xs:element name="dodajGatunek">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="g" nillable="true" type="q1:Gatunek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajGatunekResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="edytujGatunek">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="g" nillable="true" type="q2:Gatunek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edytujGatunekResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usunGatunek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usunGatunekResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajProducenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="p" nillable="true" type="q3:Producent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajProducentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="edytujProducenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="p" nillable="true" type="q4:Producent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edytujProducentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usunProducenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usunProducentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajGre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="g" nillable="true" type="q5:Gry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajGreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="edytujGre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="g" nillable="true" type="q6:Gry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edytujGreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usunGre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usunGreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlGry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
        <xs:element minOccurs="0" name="tytul" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p" type="xs:int" />
        <xs:element minOccurs="0" name="g" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlGryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="wyswietlGryResult" nillable="true" type="q7:ArrayOfGryProdGatOc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajOcene">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="o" nillable="true" type="q8:Oceny" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajOceneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="edytujOcene">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="o" nillable="true" type="q9:Oceny" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edytujOceneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usunOcene">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usunOceneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlGre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlGreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="wyswietlGreResult" nillable="true" type="q10:ArrayOfGryProdGatOc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ustawPlatforme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="lst" nillable="true" type="q11:ArrayOfGryProdGatOc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ustawPlatformeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlProducentow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlProducentowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="wyswietlProducentowResult" nillable="true" type="q12:ArrayOfProducent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlGatunki">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlGatunkiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="wyswietlGatunkiResult" nillable="true" type="q13:ArrayOfGatunek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pobierzOcenaId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pobierzOcenaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pobierzOcenaIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlProducent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlProducentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="wyswietlProducentResult" nillable="true" type="q14:ArrayOfProducent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlGatunek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlGatunekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="wyswietlGatunekResult" nillable="true" type="q15:ArrayOfGatunek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sredniaocena">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
        <xs:element minOccurs="0" name="c" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sredniaocenaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sredniaocenaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>