WcfService2/Clnt/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Gatunek">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_gatunek" type="xs:int" />
      <xs:element minOccurs="0" name="Nazwa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gatunek" nillable="true" type="tns:Gatunek" />
  <xs:complexType name="Producent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_producent" type="xs:int" />
      <xs:element minOccurs="0" name="Nazwa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rok_zalozenia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Zalozyciel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producent" nillable="true" type="tns:Producent" />
  <xs:complexType name="Gry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gatunek_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Kraj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ocena_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Platforma" type="xs:int" />
      <xs:element minOccurs="0" name="Producent_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Rok_wydania" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tytul" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link_okladka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="opis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gry" nillable="true" type="tns:Gry" />
  <xs:complexType name="ArrayOfGryProdGatOc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GryProdGatOc" nillable="true" type="tns:GryProdGatOc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGryProdGatOc" nillable="true" type="tns:ArrayOfGryProdGatOc" />
  <xs:complexType name="GryProdGatOc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Srednia_ocena" type="xs:double" />
      <xs:element minOccurs="0" name="eurogamer_com" type="xs:int" />
      <xs:element minOccurs="0" name="gry_online_pl" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_gatunek" type="xs:int" />
      <xs:element minOccurs="0" name="id_oceny" type="xs:int" />
      <xs:element minOccurs="0" name="id_producent" type="xs:int" />
      <xs:element minOccurs="0" name="kraj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link_okladka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moja_ocena" type="xs:int" />
      <xs:element minOccurs="0" name="nazwa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nazwa_gatunku" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="opis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="platforma" type="xs:int" />
      <xs:element minOccurs="0" name="platformas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rok_wydania" type="xs:dateTime" />
      <xs:element minOccurs="0" name="rok_zalozenia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tytul" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zalozyciel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GryProdGatOc" nillable="true" type="tns:GryProdGatOc" />
  <xs:complexType name="Oceny">
    <xs:sequence>
      <xs:element minOccurs="0" name="Eurogamer" type="xs:int" />
      <xs:element minOccurs="0" name="Gry_online_pl" type="xs:int" />
      <xs:element minOccurs="0" name="Id_oceny" type="xs:int" />
      <xs:element minOccurs="0" name="Moja_ocena" type="xs:int" />
      <xs:element minOccurs="0" name="Srednia_ocena" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Oceny" nillable="true" type="tns:Oceny" />
  <xs:complexType name="ArrayOfProducent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producent" nillable="true" type="tns:Producent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducent" nillable="true" type="tns:ArrayOfProducent" />
  <xs:complexType name="ArrayOfGatunek">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gatunek" nillable="true" type="tns:Gatunek" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGatunek" nillable="true" type="tns:ArrayOfGatunek" />
</xs:schema>